<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= form_tag(user_path(@user.id), method: 'patch') do %>
  <%= text_area_tag(:email) %>
  
  <%= submit_tag("Submit") %>
  <%= link_to 'Back', :back, class: "btn btn-sm btn-primary" %>
<% end %>