<br />
<center><h3>Profil</h3>
<br />
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to "Editer profil", edit_user_registration_path, class: "btn btn-sm btn-primary" %>
<% end %>
<%= link_to 'Back', :back, class: "btn btn-sm btn-primary" %>
<br />
<%= @user.email %>